<div class="report-form-container">
    <h2 class="report-form-title">Report Baddie</h2>
    <div class="content-container">

        <form 
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
        >
            <table class="form-table">
                <tr class="regular-row"> 
                    <th>Reporter's Name</th>
                    <td>
                        <input 
                            type="text"
                            name="reporter"
                            placeholder="reporter's name"
                            formControlName="reporter"
                        >
                    </td>
                </tr>

                <tr class="regular-row"> 
                    <th>Reporter's Phone Number</th>
                    <td>
                        <input 
                            type="text"
                            name="phoneNumber"
                            placeholder="phone number"
                            formControlName="phoneNumber"
                        >
                    </td>
                </tr>

                <tr class="regular-row"> 
                    <th>Baddie Location</th>
                    <td>
                        <input 
                            type="text"
                            name="location"
                            placeholder="location"
                            formControlName="location"
                        >
                    </td>
                </tr>

                <tr class="large-row" id="description"> 
                    <th>Description and Notes</th>
                    <td>
                        <textarea name="description" placeholder="description and notes" formControlName="description"></textarea>
                    </td>
                </tr>

            </table>
        </form>
    </div>
    <button 
        class="submit-button"
        [disabled]="!form.valid"
        >
        Submit Form
    </button>
</div>
