<div class="report-form-container">
    <h2 class="report-form-title">Report Baddie</h2>
    <div class="content-container">

        <form 
            [formGroup]="form"
            (ngSubmit)="onSubmit()"
        >
            <table class="form-table">
                <tr> 
                    <th>Reporter's Name</th>
                    <td>
                        <input 
                            type="text"
                            name="reporter"
                            placeholder="reporter's name"
                            formControlName="reporter"
                        >
                    </td>
                </tr>

                <tr> 
                    <th>Reporter's Phone Number</th>
                    <td>
                        <input 
                            type="text"
                            name="phoneNumber"
                            placeholder="phone number"
                            formControlName="phoneNumber"
                        >
                    </td>
                </tr>

                <tr> 
                    <th>Baddie Location</th>
                    <td>
                        <input 
                            type="text"
                            name="location"
                            placeholder="location"
                            formControlName="location"
                        >
                    </td>
                </tr>

            </table>

            <button 
                class="btn btn-outline-primary"
                [disabled]="!form.valid"
                >
                Submit Form
                </button>
        </form>

    </div>
</div>
