<form 
    [formGroup]="form"
    (ngSubmit)="onSubmit(form.value)"
>
    <fieldset class="d-grid gap-2 col-12">
        <legend>Add Report</legend>
        <input 
            type="text"
            name="reporter"
            placeholder="REPORTER"
            formControlName="reporter"
        >
        <input 
            type="text"
            name="location"
            placeholder="LOCATION"
            formControlName="location"
        >
        
        <div class="form-check">
            <input
                type="checkbox"
                name="status_checkbox"
                id="status_checkbox"
                formControlName="status"
                class="form-check-input"
            >
            <label class="form-check-label" for="status_checkbox">
                Status
            </label>
        </div>

        <button 
            class="btn btn-outline-primary"
            [disabled]="!form.valid"
        >
        Save
        </button>
    </fieldset> 

</form>
