<div class="information-container">
    <h2 class="information-container-title">Information</h2>
    <div class="content-container">
        <div class="text-container">
            <strong>Welcome!</strong>
            <p>
                Welcome to the Night Crusade Titans (NCT) Portal! The Night Crusade Titans
                are a team of over 20 superheroes! They harness their powers to triumph over
                their adversaries in dance-offs, utilizing their signature Asian dance moves.
                The purpose of this application is to enhance safety in the Lower Mainland.
                In this app citizens are able to report villains and the NCT team will deal
                with them using the applications report management feature. Find out how to
                use the app below.
            </p>

            <strong>Adding Reports</strong>
            <p>
                To add a report, from the main page, press "Create Nuisance Report". You will
                then be redirected to a form that you can fill out. When picking a location,
                you are able to pick from the existing list where all the locations that are
                currently in a report are present. If there are no reports in the system, there
                won't be any locations to choose from. Moreover, if you need to add a new location
                press the "Add" button and the map will open allowing you to select a location on
                the map and name it. Then press "Submit New Location" to add it to the list. Finally
                press "Submit" after you are done filling out the form to add it to the system.
            </p>

            <strong>Map</strong>
            <p>
                From the main page you have the option to view all the reports on the map by pressing
                "View Report Map". The map will then open above the main interface allowing you to
                interact with the markers. Each marker on the map will tell you the number of reports
                it is associated with by clicking on it. To close the map you press "Close Report Map"
                which is just below the interactable map.
            </p>

            <strong>More Info</strong>
            <p>
                The table on the main page provides some information on each report. However, if you
                want to see a more detailed view of each report you can press the "More Info" button
                associated with the report you want more information on. A section with a more detailed
                view of the report will be brought up. When you are done you can press "close"
            </p>

            <strong>Report Management</strong>
            <p>
                If you are an NCT member and need to manage the status or delete a report you can press
                the 3 lines to go to a login page. You then need to enter the verified password to gain
                access to the managment page. If you enter a valid password you will then be taken to
                a page to manage the report you clicked on. In here you can change the status of a report
                from open to closed. Or if a report and closed and you want to re-open it, you can do that
                as well. The other option you have is to delete the report. To do this you press delete
                and it will ask you to confirm your actions. Deleting a report is permanent so make sure
                that is what you want. Once you confirm your deletion you will be taken back to the main
                interface.
            </p>

            <strong>Functionality</strong>
            <p>
                Most of the functionalilty of the NCT Portal is available on the main page. You have the
                option of having the table, the map and more info open at the same time, or any combination
                of those 3 that includes the table. Report creation and management are available on seperate
                pages as mentioned above. Enjoy the application and make sure to report any baddies you spot
                in the Lower Mainland as the Night Crusade Titans want to keep you safe!
            </p>

            <div class="img-holder">
                <img id="nctPicture" src="../assets/img/nct-team-picture.png">
            </div>
        </div>
    </div>
    <span class="button-holder">
        <button id="back-button" class="info-button" (click)="onBack()">Back</button>
    </span>
</div>
