p {
    width: 40vw;
    padding: 1em;
    background-color: white;
    border-radius: 20px;
    border: 2px solid black;
    text-align: center;
    align-items: center;
}

button {
    margin-top: 0.5em;
}

.open-style {
    border: 3px solid steelblue;
    box-shadow: 5px 5px 5px black;
}