.app-container {
    background-image: url('/assets/img/city-background-blurred.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.content-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 2em;
    margin-bottom: 3em;
    overflow-y: auto;
    border-radius: 20px;
}

::-webkit-scrollbar {
    width: 0;
}

#app-title {
    color: white;
}

#header-info {
    display: flex;
    width: 3em;
    height: 3em;
    margin-right: 1em;
}

#header{
    padding-left: 2vw;
    padding-top: 2vh;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    width: 100%;
}

#info-img2 {
    display: none;
}

#header-info:hover #info-img1 {
    display: none;
}

#header-info:hover #info-img2 {
    display: flex;
}

.view-map-button {
    background-color: #2945aa;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 20px;
    width: 95%;
    height: 3em;
    margin-top: 1em;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.view-map-button:hover {
    background-color: #4f6dd1;
}

.view-map-button:active {
    background-color: #2945aa;
}