<div class="app-container">
    <span id="header">
        <div 
            id="header-info"
            (click)="onInformation()"
            *ngIf="onMainPage()"
            >
            <img src="./assets/img/info-image.png" id="info-img1">
            <img src="./assets/img/info-image-hover.png" id="info-img2">
        </div>
        <h1 id="app-title">{{ title }}</h1>
    </span> 
    <div id="contentContainer" class="content-container">
        <router-outlet></router-outlet>
    </div>
</div>