.table-container {
    border-radius: 20px;
    width: 75vw;
    height: 75vh;
    background-color: rgba(88,81,80,0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    width: 100%;
    height: 85%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.table-container-title {
    color: white;
    padding-left: 1vw;
    padding-top: 1vh;
    align-self: flex-start;
}

.rectangle-button {
    background-color: #2945aa;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 20px;
    height: 3em;
}

#create-report-button {
    width: 70%;
    margin-right: 2em;
}

#view-map-button {
    width: 20%;
}

.rectangle-button:hover {
    background-color: #4f6dd1;
}

.rectangle-button:active {
    background-color: #2945aa;
}

.rectangle-button:disabled {
    background-color: #D6D6D6;
    color: #6e6e6e;
}

.button-holder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    margin-bottom: 1em;
    margin-top: 1em;
}

.header-table {
    width: 100%;
    height: 20%;
    margin-top: 2.5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.scroll-table {
    width: 100%;
    overflow-y: auto;
}

.main-table {
    width: 100%;
    height: 100%;
}

th:hover {
    color: #bbbbbb;
}

.large-cell {
    padding-left: 2.5%;
}

.invisable-cell {
    opacity: 0;
}

.regular-row {
    height: 4em;
}

#header-row {
    background-color: #D6D6D6;
}

tr:nth-child(odd) {
    background-color: #FFFFFF;
}

tr:nth-child(even) {
    background-color: #FFFFFF;
    background-color: #D6D6D6;
}

#close-button-span {
    width: 100%;
    height: 100%;
}

#close-button-img {
    width: 40%;
    height: 65%;
}

.table-button {
    background-color: #2945aa;
    border: none;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    color: white;
    border-radius: 20px;
    width: 80%;
    height: 3em;
    margin-left: 2.5%;
    margin-right: 2.5%;
}

.table-button:hover {
    background-color: #4f6dd1;
}

.table-button:active {
    background-color: #2945aa;
}